@import 'base/_mixins'
@import 'base/_variables'
@import 'base/_reset'

body
    font-family: 'Comfortaa', cursive
    font-size: 14px
    font-weight: 400
    line-height: 16px
    // font-family: 'Roboto', sans-serif
    // font-family: 'Yeseva One', cursive
.container
    max-width: 1180px
    margin: 0 auto
    padding: 0 20px
 
@import 'blocks/_header'
@import 'media/_media'