.cake
    padding: 123px 0 150px
    &__wrapper
        max-width: 371px
        position: relative
    &__title
        font-family: $yeseva
        font-size: 30px
        font-weight: 400
        line-height: 35px
    &__text
        margin-top: 15px
    &__btn
        margin-top: 48px
        padding: 18px 54px
        color: #272727
        background-color: $pink
    &__img
        position: absolute
        right: 0
        top: 70px
        width: 877px