.calc
    &__wrapper
        text-align: center
    &__select
        margin-top: 10px
        display: block
        width: 100%
        height: 50px
        background-color: #fff
        cursor: pointer
    &__total
        margin-top: 30px

.kilos-input
    display: block
    width: 30%
    margin-top: 10px
    padding: 10px
    background-color: #fff
    display: none

