.examples
    position: relative
    &__slider
        position: absolute
        top: 0
        right: 0
        overflow: clip
        width: 60%
    &__slider-inner
        width: 500%
        display: flex
        gap: 20px
    &__slide
        width: 330px
        &-img
            width: 100%

