.flavor
    &__text
        margin-top: 15px
    &__content
        display: grid
        grid-template-columns: repeat(2, minmax(auto, 370px))
        grid-template-rows: repeat(2, auto)
        grid-auto-rows: 220px
        gap: 25px 25px
    &__card
        display: flex
        justify-content: space-between
        align-items: start
        &:nth-child(4n)
            flex-direction: row-reverse
            text-align: right
        &:nth-child(4n+3)
            flex-direction: row-reverse
            text-align: right
    &__card-descr
        width: 182px
    &__card-title
        color: $pink
        font-family: $yeseva
        font-size: 16px
        font-weight: 700
        line-height: 18px
    &__card-line
        margin-top: 5px
    &__card-img
        width: 160px
        height: 135px
        object-fit: cover
    