.reviews
    &__wrapper
        display: flex
    &__slide
        display: none
        align-items: center
    &__slide-img
        width: 325px
        margin-right: 16px
    &__slide-name
        font-size: 16px
        font-weight: 700
        line-height: 18px
    &__dots
        justify-content: center

