.reviews
    padding: 100px 0 50px
    &__wrapper
        display: flex
    &__slide
        display: flex
        align-items: center
    &__slide-img
        width: 325px
        margin-right: 16px
    &__slide-name
        font-size: 16px
        font-weight: 700
        line-height: 18px

