@media (max-width: 1200px) 
    .examples__slide
        width: 200px

@media (max-width: 1001px) 
    .examples__descr
        width: 262px
    .examples__title
        font-size: 15px
        line-height: 17px
    .examples__text
        font-size: 10px
        line-height: 11px

@media (max-width: 750px) 
    .examples__descr
        width: 194px
        margin: 0 auto
        text-align: center
    .examples__slider
        margin-top: 30px
        position: static
        width: 100%
    .dots__container
        justify-content: center
   