@media (max-width: 900px)
    .reviews
        min-height: 390px
    .reviews__descr
        width: 300px
    .reviews__slide-name
        font-size: 12px
        line-height: 14px
    .reviews__slide-text
        font-size: 10px
        line-height: 11px
    .reviews__slide-btn
        padding: 15px 20px
    .reviews__slide-img
        width: 270px
        height: 245px
    .reviews__btn
        padding: 12px 36px

@media (max-width: 750px)
    .reviews
        min-height: 320px
    .reviews__descr
        width: 200px
    .reviews__slider
        margin-top: 15px
    .reviews__slide-img
        width: 200px
        height: 190px
    .reviews__btn
        padding: 10px 19px
        font-size: 13px

@media (max-width: 450px)
    .reviews
        min-height: 450px
    .reviews__descr
        width: 300px
    .reviews__slide
        flex-direction: column
    .reviews__slide-descr
        margin-top: 10px
        text-align: center
    .reviews__btn
        margin-top: 20px
